@charset "UTF-8";
@font-face {
  font-family: "MazzardH";
  src: url(../fonts/MazzardH-Bold.eot);
  src: url(../fonts/MazzardH-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/MazzardH-Bold.otf) format("otf"), url(../fonts/MazzardH-Bold.svg#MazzardH-Bold) format("svg"), url(../fonts/MazzardH-Bold.ttf) format("truetype"), url(../fonts/MazzardH-Bold.woff) format("woff"), url(../fonts/MazzardH-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MazzardH";
  src: url(../fonts/MazzardH-SemiBold.eot);
  src: url(../fonts/MazzardH-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/MazzardH-SemiBold.otf) format("otf"), url(../fonts/MazzardH-SemiBold.svg#MazzardH-SemiBold) format("svg"), url(../fonts/MazzardH-SemiBold.ttf) format("truetype"), url(../fonts/MazzardH-SemiBold.woff) format("woff"), url(../fonts/MazzardH-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MazzardH";
  src: url(../fonts/MazzardH-Medium.eot);
  src: url(../fonts/MazzardH-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/MazzardH-Medium.otf) format("otf"), url(../fonts/MazzardH-Medium.svg#MazzardH-Medium) format("svg"), url(../fonts/MazzardH-Medium.ttf) format("truetype"), url(../fonts/MazzardH-Medium.woff) format("woff"), url(../fonts/MazzardH-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MazzardH-Regular";
  src: url(../fonts/MazzardH-Regular.eot);
  src: url(../fonts/MazzardH-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/MazzardH-Regular.otf) format("otf"), url(../fonts/MazzardH-Regular.svg#MazzardH-Regular) format("svg"), url(../fonts/MazzardH-Regular.ttf) format("truetype"), url(../fonts/MazzardH-Regular.woff) format("woff"), url(../fonts/MazzardH-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.2;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/*
    @세팅구역
*/
body {
  font-family: "MazzardH", arial, sans-serif;
  color: #5f5348;
  font-size: 14px;
  background-color: #ecebe4;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input, select, button, fieldset {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  border-color: transparent;
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  margin: -1px;
}