@charset "UTF-8";
@font-face {
  font-family: "MazzardH";
  src: url(../fonts/MazzardH-Bold.eot);
  src: url(../fonts/MazzardH-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/MazzardH-Bold.otf) format("otf"), url(../fonts/MazzardH-Bold.svg#MazzardH-Bold) format("svg"), url(../fonts/MazzardH-Bold.ttf) format("truetype"), url(../fonts/MazzardH-Bold.woff) format("woff"), url(../fonts/MazzardH-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "MazzardH";
  src: url(../fonts/MazzardH-SemiBold.eot);
  src: url(../fonts/MazzardH-SemiBold.eot?#iefix) format("embedded-opentype"), url(../fonts/MazzardH-SemiBold.otf) format("otf"), url(../fonts/MazzardH-SemiBold.svg#MazzardH-SemiBold) format("svg"), url(../fonts/MazzardH-SemiBold.ttf) format("truetype"), url(../fonts/MazzardH-SemiBold.woff) format("woff"), url(../fonts/MazzardH-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "MazzardH";
  src: url(../fonts/MazzardH-Medium.eot);
  src: url(../fonts/MazzardH-Medium.eot?#iefix) format("embedded-opentype"), url(../fonts/MazzardH-Medium.otf) format("otf"), url(../fonts/MazzardH-Medium.svg#MazzardH-Medium) format("svg"), url(../fonts/MazzardH-Medium.ttf) format("truetype"), url(../fonts/MazzardH-Medium.woff) format("woff"), url(../fonts/MazzardH-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "MazzardH-Regular";
  src: url(../fonts/MazzardH-Regular.eot);
  src: url(../fonts/MazzardH-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/MazzardH-Regular.otf) format("otf"), url(../fonts/MazzardH-Regular.svg#MazzardH-Regular) format("svg"), url(../fonts/MazzardH-Regular.ttf) format("truetype"), url(../fonts/MazzardH-Regular.woff) format("woff"), url(../fonts/MazzardH-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "MazzardH";
  src: url(../fonts/MazzardH-Light.eot);
  src: url(../fonts/MazzardH-Light.eot?#iefix) format("embedded-opentype"), url(../fonts/MazzardH-Light.otf) format("otf"), url(../fonts/MazzardH-Light.svg#MazzardH-Light) format("svg"), url(../fonts/MazzardH-Light.ttf) format("truetype"), url(../fonts/MazzardH-Light.woff) format("woff"), url(../fonts/MazzardH-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*, :after, :before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.2;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html, body {
  height: 100%;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul, ol {
  list-style: none;
}

/*
    @세팅구역
*/
body {
  font-family: "MazzardH", arial, sans-serif;
  font-weight: 400;
  color: #5f5348;
  font-size: 14px;
  background-color: #ecebe4;
  overflow-x: hidden;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hidden,
[hidden] {
  display: none !important;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
button:disabled {
  cursor: not-allowed;
}

select,
input,
textarea,
button {
  font: inherit;
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input:disabled {
  background-color: rgba(255, 255, 255, 0);
  cursor: not-allowed;
}

select {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}
select::-ms-expand {
  display: none;
}

input,
textarea {
  border: 0;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input::placeholder,
textarea::placeholder {
  /* Chrome, Safari, Firefox */
  color: #444;
  opacity: 1;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* IE, Edge */
  color: #444;
  opacity: 1;
}
input[readonly]::-moz-placeholder, input:disabled::-moz-placeholder, textarea[readonly]::-moz-placeholder, textarea:disabled::-moz-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder, textarea[readonly]:-ms-input-placeholder, textarea:disabled:-ms-input-placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]::placeholder, input:disabled::placeholder,
textarea[readonly]::placeholder,
textarea:disabled::placeholder {
  /* Chrome, Safari, Firefox */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input[readonly]:-ms-input-placeholder, input:disabled:-ms-input-placeholder,
textarea[readonly]:-ms-input-placeholder,
textarea:disabled:-ms-input-placeholder {
  /* IE, Edge */
  color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}
input::-ms-clear, input::-ms-reveal,
textarea::-ms-clear,
textarea::-ms-reveal {
  /* IE, Edge */
  display: none;
}
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button,
textarea::-webkit-inner-spin-button,
textarea::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input, select, button, fieldset {
  font: inherit;
  color: inherit;
  -webkit-appearance: none;
  border: 0;
  border-color: transparent;
  background-color: transparent;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  margin: -1px;
}

section {
  width: 100%;
}
section + section {
  width: 100%;
  padding: 0 40px;
}

.header, .gnb-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px 40px;
  line-height: 17px;
  color: #fff;
  font-size: 14px;
}
.header .logo-area, .gnb-header .logo-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}
.header .left-area, .gnb-header .left-area {
  zoom: 1.08;
}
.header .link-choose, .gnb-header .link-choose {
  margin-left: 32px;
}
.header .right-area, .gnb-header .right-area {
  zoom: 1.08;
}
.header .link-tel, .gnb-header .link-tel {
  margin-right: 32px;
}
.header .btn-requset, .gnb-header .btn-requset {
  width: 140px;
  height: 32px;
  color: #434e60;
  font-size: 12px;
  font-weight: 500;
  border-radius: 30px;
  background-color: #eaeef3;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition-delay: 0.2s;
  transition-duration: 3s;
}

.gnb-area {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: #ecebe4;
  color: #5f5348;
}
.gnb-area .gnb-header {
  position: static;
  color: #5f5348;
}
.gnb-area .group-menu {
  display: flex;
}
.gnb-area .thumb-box, .gnb-area .gnb-box {
  margin: 80px 0;
  width: 50%;
}
.gnb-area .thumb-box {
  position: relative;
}
.gnb-area .thumb1, .gnb-area .thumb2 {
  position: absolute;
  top: 50%;
  left: 43%;
  transform: translate(-48%, -50%) scale(1.08);
  transform-origin: center center;
}
.gnb-area .thumb1 {
  width: 384px;
  height: 372px;
  background-image: url(../images/gnb-thumb1.svg);
  background-repeat: no-repeat;
  z-index: 4;
}
.gnb-area .thumb2 {
  width: 200px;
  height: 250px;
  background-image: url(../images/gnb-thumb2.jpg);
  background-repeat: no-repeat;
  border-radius: 4000px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  border-color: transparent;
  border-style: solid;
}
.gnb-area .gnb-box {
  padding-left: 10px;
}
.gnb-area .gnb-title {
  margin-bottom: 40px;
  padding-left: 10px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -2px;
}
.gnb-area .gnb-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 18px;
}
.gnb-area .gnb-item {
  width: 50%;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
}
.gnb-area .gnb-item:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.gnb-area .gnb-item:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.gnb-area .gnb-item:nth-of-type(4) {
  grid-column: 1/3;
  grid-row: 4/5;
}
.gnb-area .gnb-item:nth-of-type(6) {
  grid-column: 2/3;
  grid-row: 1/3;
}
.gnb-area .gnb-item:nth-of-type(7) {
  grid-row: 2/3;
  grid-column: 2/3;
}
.gnb-area .gnb-item:nth-of-type(8) {
  grid-row: 3/4;
  grid-column: 2/3;
}
.gnb-area .gnb-item:nth-of-type(9) {
  grid-row: 4/5;
  grid-column: 2/3;
}
.gnb-area .gnb-item:nth-of-type(10) {
  grid-row: 5/6;
  grid-column: 2/3;
}
.gnb-area .group-project {
  display: flex;
  margin: 12px 32px 40px;
  font-weight: 300;
  zoom: 1.08;
}
.gnb-area .group-project > * {
  width: 50%;
  font-size: 16px;
  line-height: 19px;
}
.gnb-area .group-project > * em {
  display: block;
  margin-bottom: 10px;
  color: #9d958c;
}
.gnb-area .info-list {
  display: flex;
}
.gnb-area .info-item {
  display: flex;
  align-items: center;
  width: 50%;
  height: 30px;
  border-right: 1px solid #c6c0ba;
}
.gnb-area .info-item:last-child {
  padding-left: 20px;
}
.gnb-area .link-btn::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background-image: url(../images/building.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.gnb-area .document::after {
  background-image: url(../images/document.svg);
}
.gnb-area .contact-box a {
  font-weight: 400;
}
.gnb-area .contact-box .info-item {
  padding-left: 20px;
}
.gnb-area .contact-box .info-item:last-child {
  border: none;
}

.requset-area {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  min-width: 400px;
  height: 100vh;
  padding: 45px;
  z-index: 999;
  color: #5f5348;
  background-color: #ecebe4;
}
.requset-area .area-title {
  margin-bottom: 30px;
  font-size: 40px;
  line-height: 1.1;
  font-weight: 400;
  letter-spacing: -0.5px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.requset-area .area-title span {
  display: block;
}
.requset-area .input-wrap {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.requset-area .select-wrapper {
  position: relative;
  display: flex;
  margin-top: 20px;
  align-items: center;
  border-bottom: 1px solid #c6c0ba;
}
.requset-area .selection {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 5px;
  font-size: 16px;
  cursor: pointer;
}
.requset-area .select-flag, .requset-area .option-flag {
  display: block;
  width: 18px;
  min-width: 18px;
  height: 13px;
  background-image: url(../images/sc-flag-bg.png);
  background-repeat: no-repeat;
  background-position: -285px -281px;
  background-color: #c5c5c5;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.requset-area .select-option {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  max-height: 200px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 7px;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
  overflow-y: scroll;
}
.requset-area .btn-option {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
}
.requset-area .btn-option:hover {
  background-color: #eee;
}
.requset-area .btn-option .canada {
  background-position: -145px -51px;
}
.requset-area .btn-option .china {
  background-position: -61px -74px;
}
.requset-area .btn-option .france {
  background-position: -33px -120px;
}
.requset-area .btn-option .japan {
  background-position: -145px -166px;
}
.requset-area .btn-option .korea {
  background-position: -33px -189px;
}
.requset-area .option-box {
  display: flex;
}
.requset-area .option-flag {
  margin-left: 8px;
}
.requset-area .select-arrow {
  margin-left: 6px;
  border-style: solid;
  border-width: 5px 4px 0;
  border-color: #9a9a9a transparent transparent;
}
.requset-area .select-code {
  margin-left: 10px;
}
.requset-area input {
  background-color: transparent;
  font-size: 14px;
  font-weight: 400;
  height: 52px;
}
.requset-area input::-moz-placeholder {
  color: #c6c0ba;
}
.requset-area input:-ms-input-placeholder {
  color: #c6c0ba;
}
.requset-area input::placeholder {
  color: #c6c0ba;
}
.requset-area .input-name {
  border-bottom: 1px solid #c6c0ba;
}
.requset-area .txt {
  color: #9d958c;
  font-size: 12px;
  font-weight: 300;
}
.requset-area .txt span {
  color: #5f5348;
}

.footer {
  padding: 90px 40px 0;
}

.group-flex22 {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  border-top: 1px solid #c6c0ba;
  border-bottom: 1px solid #c6c0ba;
}
.group-flex22 > div + div {
  font-size: 20px;
  line-height: 1.25;
  font-weight: 500;
  letter-spacing: -0.5px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  zoom: 1.09;
}
.group-flex22 .logo-area {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.group-flex22 .logo-area img {
  height: 27px;
}

.group-flex23 {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid #c6c0ba;
  font-weight: 300;
}
.group-flex23 > div {
  width: 50%;
}
.group-flex23 .column-left {
  margin: 10px 0;
  line-height: 19px;
  border-right: 1px solid #c6c0ba;
  font-size: 16px;
  zoom: 1.09;
}
.group-flex23 .fnb-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 18px;
}
.group-flex23 .fnb-item {
  width: 50%;
}
.group-flex23 .fnb-item:nth-of-type(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.group-flex23 .fnb-item:nth-of-type(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.group-flex23 .fnb-item:nth-of-type(4) {
  grid-column: 1/3;
  grid-row: 4/5;
}
.group-flex23 .fnb-item:nth-of-type(6) {
  grid-column: 2/3;
  grid-row: 1/3;
}
.group-flex23 .fnb-item:nth-of-type(7) {
  grid-row: 2/3;
  grid-column: 2/3;
}
.group-flex23 .fnb-item:nth-of-type(8) {
  grid-row: 3/4;
  grid-column: 2/3;
}
.group-flex23 .fnb-item:nth-of-type(9) {
  grid-row: 4/5;
  grid-column: 2/3;
}
.group-flex23 .fnb-item:nth-of-type(10) {
  grid-row: 5/6;
  grid-column: 2/3;
}
.group-flex23 .link-box {
  display: flex;
  align-items: center;
  margin-top: 40px;
  height: 30px;
}
.group-flex23 .link-btn {
  width: 50%;
}
.group-flex23 .link-btn::after {
  content: "";
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin-left: 8px;
  background-image: url(../images/building.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.group-flex23 .document::after {
  background-image: url(../images/document.svg);
}
.group-flex23 .column-right {
  position: relative;
  zoom: 1.09;
}
.group-flex23 .column-right .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.group-flex23 .column-right .txt {
  width: 350px;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.5px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}
.group-flex23 .column-right .btn-requset {
  display: inline-block;
  width: 164px;
  height: 40px;
  margin-top: 30px;
  font-size: 14px;
  line-height: 1.55;
  font-weight: 400;
  border-radius: 30px;
  color: #fff;
  background-color: #5f5348;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

.corp-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 12px;
  font-weight: 300;
  line-height: 14px;
  letter-spacing: -0.5px;
  zoom: 1.09;
}
.corp-area > div {
  display: flex;
}
.corp-area .copy + span::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin: 0 12px;
  border-radius: 50%;
  background-color: #5f5348;
}
.corp-area .link-corp + a::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 4px;
  height: 4px;
  margin: 0 12px;
  border-radius: 50%;
  background-color: #5f5348;
}

.btn-menu, .btn-close {
  display: inline-block;
  height: 32px;
}

.bar-wrap {
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

.menu-bar {
  display: block;
  width: 16px;
  height: 2px;
  background-color: #fff;
}
.menu-bar:nth-child(1) {
  margin-bottom: 5px;
}

.gnb-area .btn-close .bar-wrap {
  height: 15px;
  margin-right: 3px;
  vertical-align: -3px;
}
.gnb-area .btn-close i {
  display: inline-block;
  width: 2px;
  height: 15px;
  background-color: #5f5348;
}
.gnb-area .btn-close i:nth-child(1) {
  margin-bottom: 0;
}
.gnb-area .btn-requset {
  background-color: #5f5348;
  color: #fff;
}

.requset-area .btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  z-index: 999999;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.requset-area .btn-close .close-wrap {
  position: relative;
  width: 24px;
  height: 20px;
}
.requset-area .btn-close .close-bar {
  position: absolute;
  top: 8px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: #000;
  opacity: 1;
}
.requset-area .btn-close .close-bar:nth-of-type(1) {
  transform: rotate(45deg);
}
.requset-area .btn-close .close-bar:last-of-type {
  transform: rotate(-45deg);
}
.requset-area .btn-send {
  display: block;
  width: 100%;
  height: 44px;
  margin: 30px 0 10px;
  padding: 0 15px;
  background-color: #605348;
  border-radius: 400px;
  font-size: 14px;
  color: #fff;
}

.sc-title {
  font-size: 16px;
  line-height: 19px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
  zoom: 1.09;
}

.sub-title {
  font-size: 82px;
  line-height: 1;
  letter-spacing: -2px;
  text-transform: uppercase;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.sc-visual {
  position: relative;
  height: 784px;
  background: linear-gradient(180deg, rgb(105, 146, 184) 0%, rgb(224, 219, 214) 98%);
}
.sc-visual .desc {
  position: absolute;
  top: 64px;
  left: 50%;
  text-transform: uppercase;
  transform: translateX(-50%);
  color: #fff;
  font-size: 18px;
  line-height: 22px;
}
.sc-visual .ani-area {
  position: absolute;
  top: 76px;
  left: 50%;
  transform: translateX(-50%);
  width: 928px;
  height: 320px;
  zoom: 1.09;
}
.sc-visual .thumb-area {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 580px;
  background-image: url(../images/main-visual.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.sc-about {
  padding: 110px 40px;
  background-image: url(../images/about-bg.png);
  background-repeat: no-repeat;
  background-position: top top;
}
.sc-about .group-flex1 {
  display: flex;
  margin-bottom: 110px;
}
.sc-about .column-left {
  width: calc(100% - 830px);
}
.sc-about .column-right {
  width: 830px;
}
.sc-about .column-right .sub-title {
  display: block;
  margin-bottom: 30px;
}
.sc-about .column-right .sub-title span {
  display: inline-block;
}
.sc-about .column-right .sub-title span:nth-of-type(2) {
  transform: translateX(-10%);
}
.sc-about .column-right .txt {
  width: 625px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 300;
  zoom: 1.08;
}
.sc-about .column-right .txt span {
  display: block;
}
.sc-about .column-right .txt span + span {
  margin-top: 20px;
}
.sc-about .column-right .thumb-box {
  margin-top: 20px;
  height: 420px;
  background-image: url(../images/about-thumb1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.sc-about .group-flex2 {
  height: 516px;
  background-image: url(../images/about-map.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-color: #dad7d0;
}
.sc-about .map-area {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  height: 100%;
}
.sc-about .map-area .sub-title {
  display: flex;
  flex-direction: column;
}
.sc-about .map-area .txt {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  zoom: 1.08;
}
.sc-about .map-area .txt span {
  display: block;
  width: 406px;
}
.sc-about .map-area .txt span + span {
  margin-top: 10px;
}