.blind{
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0,0,0,0);
    overflow: hidden;
    margin: -1px;
}
section{
    width: 100%;
    & + section{
        width: 100%;
        padding: 0 40px;
    }
}