@font-face {
    font-family: 'MazzardH';
    src: url(../fonts/MazzardH-Bold.eot);
    src: url(../fonts/MazzardH-Bold.eot?#iefix) format('embedded-opentype'),
         url(../fonts/MazzardH-Bold.otf) format('otf'),
         url(../fonts/MazzardH-Bold.svg#MazzardH-Bold) format('svg'),
         url(../fonts/MazzardH-Bold.ttf) format('truetype'),
         url(../fonts/MazzardH-Bold.woff) format('woff'),
         url(../fonts/MazzardH-Bold.woff2) format('woff2');

    font-weight: 700;
    font-style: normal;
  }

@font-face {
font-family: 'MazzardH';
src: url(../fonts/MazzardH-SemiBold.eot);
src: url(../fonts/MazzardH-SemiBold.eot?#iefix) format('embedded-opentype'),
        url(../fonts/MazzardH-SemiBold.otf) format('otf'),
        url(../fonts/MazzardH-SemiBold.svg#MazzardH-SemiBold) format('svg'),
        url(../fonts/MazzardH-SemiBold.ttf) format('truetype'),
        url(../fonts/MazzardH-SemiBold.woff) format('woff'),
        url(../fonts/MazzardH-SemiBold.woff2) format('woff2');
    
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'MazzardH';
    src: url(../fonts/MazzardH-Medium.eot);
    src: url(../fonts/MazzardH-Medium.eot?#iefix) format('embedded-opentype'),
         url(../fonts/MazzardH-Medium.otf) format('otf'),
         url(../fonts/MazzardH-Medium.svg#MazzardH-Medium) format('svg'),
         url(../fonts/MazzardH-Medium.ttf) format('truetype'),
         url(../fonts/MazzardH-Medium.woff) format('woff'),
         url(../fonts/MazzardH-Medium.woff2) format('woff2');

    font-weight: 500;
    font-style: normal;     
  }

@font-face {
font-family: 'MazzardH-Regular';
src: url(../fonts/MazzardH-Regular.eot);
src: url(../fonts/MazzardH-Regular.eot?#iefix) format('embedded-opentype'),
        url(../fonts/MazzardH-Regular.otf) format('otf'),
        url(../fonts/MazzardH-Regular.svg#MazzardH-Regular) format('svg'),
        url(../fonts/MazzardH-Regular.ttf) format('truetype'),
        url(../fonts/MazzardH-Regular.woff) format('woff'),
        url(../fonts/MazzardH-Regular.woff2) format('woff2');

    font-weight: 400;
    font-style: normal;
}
  
  