.sc-title{
    font-size: 16px;
    line-height: 19px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    zoom: 1.09;
}
.sub-title{
    font-size: 82px;
    line-height: 1;
    letter-spacing: -2px;
    text-transform: uppercase;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}