.sc-visual{
    position: relative;
    height: 965px;
    background: linear-gradient(180deg, rgba(105,146,184,1) 0%, rgba(224,219,214,1) 98%);
    & > *{
        zoom: 1.33;
    }
    .desc{
        position: absolute;
        top: 64px;
        left: 50%;
        text-transform: uppercase;
        transform: translateX(-50%);
        color: $color-white;
        font-size: 18px;
        line-height: 22px;
    }
    .ani-area{
        position: absolute;
        top: 76px;
        left: 50%;
        z-index: 3;
        transform: translateX(-50%);
        width: 77.333%;
        height: 320px;
    }
    .thumb-area{
        position: absolute;
        bottom: 0px;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 580px;
        background-image: url(../images/main-visual.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

.sc-about{
    padding: 110px 40px;
    background-image: url(../images/about-bg.png);
    background-repeat: no-repeat;
    background-position: top top;
    .group-flex1{
        display: flex;
        margin-bottom: 110px;
    }
    .column-left{
        width: calc(100% - 75%);
    }
    .column-right{
        width: 75%;
        .sub-title{
            display: block;
            margin-bottom: 30px;
            span{
                display: block;
                &:nth-of-type(1){
                }
                &:nth-of-type(2){
                    transform: translateX(-10%);
                }
            }
        }
        .txt{
            width: 625px;
            font-size: 20px;
            line-height: 26px;
            font-weight: 300;
            zoom: 1.34;
            span{
                display: block;
                & + span{
                    margin-top: 20px;
                }
            }
        }
        .thumb-box{
            margin-top: 20px;
            height: 420px;
            background-image: url(../images/about-thumb1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .group-flex2{
        height: 516px;
        background-image: url(../images/about-map.svg);
        background-repeat: no-repeat;
        background-position: top right;
        background-color: $color-beige3;
        
    }
    .map-area{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;   
        height: 100%;
        .sub-title{
            display: flex;
            flex-direction: column;
        }
        .txt{
            font-weight: 300;
            font-size: 18px;
            line-height: 24px;
            zoom: 1.34;
            span{
                display: block;
                width: 406px;
                & + span{
                    margin-top: 10px;
                }
            }
        }
    }

}

.sc-location{
    .group-flex3{
        display: flex;
        justify-content: space-between;
        .column-left{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
        .station-box{
            display: flex;
            align-items: center;
            &::before{
                content: '';
                display: inline-block;
                vertical-align: top;
                width: 40px;
                height: 40px;
                margin-right: 20px;
                background-image: url(../images/metro.svg);
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }
            & > *{
                display: block;
                zoom: 1.34;
            }
            .txt-wrap{
                display: flex;
                flex-direction: column;
            }
            em{
                font-size: 16px;
                line-height: 19px;
                text-transform: uppercase;
                padding-bottom: 4px;
            }
            span{
                line-height: 17px;
                opacity: 0.8;
            }
        }
        .sub-title{
            display: inline-block;
            text-align: right;
            span{
                display: block;
            }
        }
    }
    .group-flex4{
        display: flex;
        margin-top: 64px;
        zoom:1.34;
        .column-left{
            width: 55%;
            padding-right: 30px;
            border-right: 1px solid $color-gray2;
        }
        .location-list{}
        .location-item{
            display: flex;
            justify-content: space-between;
            & + li{
                margin-top: 30px;
            }
        }
        .txt-box{
            width: 60%;
            display: flex;
            justify-content: space-between;
        }
        .info{
            & > *{
                display: block;
            }
        }
        .info-tit{
            font-size: 24px;
            line-height: 29px;
            margin-bottom: 8px;
        }
        .info-txt{
            line-height: 17px;
            opacity: 0.8;
        }
        .time{
            align-self: flex-end;
            font-size: 16px;
            line-height: 19px;
            i{
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-size: contain;
            }
        }
        .ic-walk{
            background-image: url(../images/walk.svg);
        }
        .ic-car{
            background-image: url(../images/car.svg);
        }
        .thumb-box{
            width: 180px;
            height: 104px;
            background-image: url(../images/location-thumb1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
        }
        .map {
            .thumb-box{
                display: block;
                width: 100%;
                height: 100%;
                background: none;
            }
            img{
                width: 100%;
            }
        }
        .thumb2{
            background-image: url(../images/location-thumb2.jpg);
        }
        .thumb3{
            background-image: url(../images/location-thumb3.jpg);
        }
        .thumb4{
            background-image: url(../images/location-thumb4.jpg);
        }
        .location-item{}
        .column-right{
            width: 45%;
            padding-left: 30px;
            .desc{
                position: sticky;
                top: 0;
                width: 80%;
                word-break: keep-all;
                font-weight: 300;
                font-size: 18px;
                line-height: 23px;
            }
        }
    }
    .group-flex5{
        height: 224px;
        margin-top: 140px;
        background-color: $color-beige3;
        zoom: 1.34;
    }
    .txt-box{
        font-size: 40px;
        line-height: 44px;
        div{
            &:last-of-type{
                display: inline-block;
            }
        }
        span{
            display: inline-block;
            font-size: 16px;
            line-height: 22px;
            font-weight: 300;ƒ
            span{
                display: block;
            }
        }
    }
    .input-area{
        display: flex;
        height: 100%;
        padding: 0 80px;
        align-items: center;
        & > div {
            width: 50%;
        }
    }
    .input-wrap{
        position: relative;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .select-wrapper{
        position: relative;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $color-gray2;
    }
    .selection{
        display: flex;
        -ms-flex-align: center;
        -webkit-box-align: center;
        align-items: center;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        margin-right: 5px;
        font-size: 16px;
        cursor: pointer;
    }
    .select-flag,.option-flag{
        display: block;
        width: 18px;
        min-width: 18px;
        height: 13px;
        @include flag-Img;
        background-position: -285px -281px;
        background-color: $color-gray3;
        -webkit-box-shadow: 0 0 5px rgb(0 0 0 / 30%);
        box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    }
    .select-option{
        display: none;
        position: absolute;
        top: calc(100% + 5px);
        width: 100%;
        max-height: 200px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: $color-white;
        border: 1px solid $color-gray5;
        border-radius: 7px;
        -webkit-box-shadow: 0 0 1px rgb(0 0 0 / 10%);
        box-shadow: 0 0 1px rgb(0 0 0 / 10%);
        overflow-y: scroll;
    }
    .option-item{
    }
    .btn-option{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        width: 100%;
        &:hover{
            background-color: $color-gray5;
        }
        .canada{
            background-position: -145px -51px;
        }
        .china{
            background-position: -61px -74px;
        }
        .france{
            background-position: -33px -120px;
        }
        .japan{
            background-position: -145px -166px;
        }
        .korea{
            background-position: -33px -189px;
        }
    }
    .option-box{
        display: flex;
    }
    .option-flag{
        margin-left: 8px;
    }
    .select-arrow{
        margin-left: 6px;
        border-style: solid;
        border-width: 5px 4px 0;
        border-color: $color-gray4 transparent transparent;
    }
    .select-code{
        margin-left: 10px;
    }
    input{
        width: calc(100% - 80px);
        &::placeholder{
            color: $color-gray2;
        }
        background-color: transparent;
        font-size: 14px;
        font-weight: 400;
        height: 52px;
    }
    .txt{
        margin-top: 20px;
        color: $color-gray1;
        font-size: 12px;
        font-weight: 300;
        span{
            color: $color-txt;
        }
    }
}

.sc-benefits{
    margin-top: 140px;
}
.group-flex6{
    display: flex;
    justify-content: space-between;
    .column-right{
        width: 75%;
        margin-bottom: 100px;
        .sub-title{
            display: block;
            width: 741px;
            font-size: 40px;
            line-height: 46px;
        }
    }
}
.group-flex7{
    border-top: 1px solid $color-gray2;
    border-bottom: 1px solid $color-gray2;
    & > *{
        zoom: 1.34;
    }
}
.slide1{
    .swiper-slide{
        height: 45.273%;
        display: flex;
    }
    .info-wrap{
        display: flex;
        width: 54.727%;
        padding: 20px 0;
    }
    .control{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 25.484%;
    }
    .txt-box{
        width: 74.516%;
        padding: 0 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-left: 1px solid $color-gray2;
    }
    .txt-tit{
        font-size: 28px;
        line-height: 34px;
    }
    .desc{
        font-weight: 300;
        font-size: 18px;
        line-height: 23px;
    }
    .thumb-box{
        width: 45.273%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    button{
        display: inline-block;
        width: 40px;
        height: 40px;
        &:disabled{
            opacity: 0.4;
        }
    }
    .btn-prev{
        background-image: url(../images/prev.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 20px;
    }
    .btn-next{
        background-image: url(../images/next.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.sc-parking{
    margin: 140px 0;
    & > div{
        zoom: 1.34;
    }
}
.group-flex8{
    padding: 0 80px;
}
.parking-list{
    display: flex;
    justify-content: space-between;
}
.parking-item{
    position: relative;
    width: 450px;
    height: 500px;
    background-image: url(../images/benefits-thumb7.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.3);
        width: 450px;
        height: 500px;
    }
    &:last-of-type{
        margin-top: 50px;
        background-image: url(../images/benefits-thumb8.jpg);
    }
    .txt-box{
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 4;
        padding: 30px;
        color: $color-white;
        .txt-tit{
            font-size: 20px;
            line-height: 26px;
            text-transform: uppercase;
        }
        .desc{
            margin-top: 10px;
            line-height: 19px;
        }
    }
}
.sc-storage{
    & > div{
        zoom: 1.34;
    }
}
.group-flex9{
    margin-bottom: 50px;
    .sub-title{
        zoom: 1;
    }
}
.group-flex10{
    display: flex;
    border-top: 1px solid $color-gray2;
    border-bottom: 1px solid $color-gray2;
    & > div{
        height: 480px;
    }
    .column-left{
        position: relative;
        overflow: hidden;
        width: 60%;
        .thumb-box{
            position: absolute;
            top: 0;
            left: 0;
            & + div{
                top: -100%;
            }
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .column-right{
        position: relative;
        width:40%;
        padding-left: 30px;
        .storage-list{
            display: flex;
            flex-direction: column;
            height: 100%;
        }
        .storage-item{
            display: flex;
            align-items: center;
            height: calc(100% / 6);
            border-bottom: 1px solid $color-gray2;
            :hover{
                & > *{
                    opacity: 0.4;
                }
            }
            &:last-of-type{
                border-bottom: none;
            }
        }
        .txt-box{}
        .txt-tit{
            font-size: 20px;
            line-height: 24px;
        }
        .desc{
            display: block;
            margin-top: 6px;
            color: $color-brown2;
            font-weight: 300;
        }
    }
}
.sc-infrastructure{
    position: relative;
    margin: 140px 0 100px;
    color: $color-white;
}
.group-flex11{
    position: absolute;
    top: 45px;
    left: 85px;
    z-index: 3;
    .sub-title{
        display: inline-block;
        width: 500px;
        margin: 20px 0;
        font-size: 40px;
        line-height: 46px;
    }
    .tab-list{
        display: flex;
        zoom: 1.34;
    }
    .tab-item{
        & + a{
            margin-left: 30px;
        }
        opacity: 0.4;
        font-size: 18px;
        line-height: 22px;
        &:active
        {
            opacity: 1;
        }
    }
}
.group-flex12{
    width: 100%;
    height: 740px;
}
.slide2{
    width: 100%;
    height: 100%;
    .swiper{
        &-slide{
            height: 740px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}

.sc-apartments{
    margin: 100px 0;
}
.group-flex13{
    display: flex;
    height: 520px;
    background-color: $color-beige3;
    zoom: 1.34;
    .column-left{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 55%;
        padding: 45px 0 45px 45px;
    }
    .title-box{
        & > *{
            zoom: 1;
        }
    }
    .sub-title{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
    }
    .more-box{
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        border-top: 1px solid $color-gray2;
        .desc{
            font-size: 18px;
            line-height: 24px;
        }
    }   
    .column-right{
        display: flex;
        width: 45%;
        padding-left: 10%;
        overflow: hidden;
    }
    .rolling-wrap{}
    .rolling-list{}
    .rolling-item{
        width: 256px;
        height: 290px;
        background-color: $color-beige1;
        background-image: url(../images/apartments-layout1.svg);
        background-repeat: no-repeat;
        background-position: center center;
        opacity: 0.5;
        &:nth-of-type(2){
            margin: 20px 0;
        }
    }
    .wrap1{
        transform: translateY(-40%);
        margin-right: 20px;
        .rolling-item{
            &:nth-of-type(2){
                opacity: 1;
            }
        }
    }
    .wrap2{
        .rolling-item{
            background-image: url(../images/apartments-layout2.svg);
            &:nth-of-type(2){
                margin: 20px 0;
            }
        }
    }
}

.sc-rare{
    margin: 140px 0;
}
.group-flex14{
    display: flex;
    justify-content: space-between;
    .sc-title{
        font-size: 32px;
        line-height: 38px;
        margin-bottom: 20px;
    }
    .navi{
        button{
            display: inline-block;
            width: 40px;
            height: 40px;
            &:disabled{
                opacity: 0.4;
            }
            zoom: 1.34;
        }
    }
    .btn-prev{
        background-image: url(../images/prev.svg);
        background-repeat: no-repeat;
        background-size: contain;
        margin-right: 20px;
    }
    .btn-next{
        background-image: url(../images/next.svg);
        background-repeat: no-repeat;
        background-size: contain;
    }
}
.slide3{
    zoom: 1.34;
    .swiper-slide{
        position: relative;
        width: 340px;
        height: 504px;
        background-color: $color-beige3;
        & + div{
            margin-left: 25px;
        }
    }
    .txt-box{
        padding: 24px;
    }
    .txt-tit{
        display: block;
        font-size: 20px;
        line-height: 26px;
        text-transform: uppercase;
        margin-bottom: 10px;
        word-break: break-all;
    }
    .desc{
        line-height: 18px;
        font-weight: 300;
    }
}

.sc-finishing{

}
.group-flex15{
    margin-bottom: 100px;
    & > div{
        // & + div{
        //     zoom: 1.34;
        // }
    }
    .title-area{
        display: flex;
    }
    .column-left{
        width: calc(100% - 75%);
    }
    .column-right{
        width: 75%;
    }
    .sub-title{
        font-size: 32px;
        line-height: 38px;
    }
    .tab-list{
        display: flex;
        justify-content: center;
        padding: 40px 0;
    }
    .btn-tab{
        display: inline-block;
        padding: 12px 22px;
        background-color: $color-beige1;
        border: 1px solid $color-gray2;
        border-radius: 30px;
        text-transform: uppercase;
        & + a{
            margin-left: 10px;
        }
        &.active{
            background-color: $color-brown;
            color: $color-white;
        }
    }
    .slide-area{
        position: relative;
        zoom: 1.34;
        width: 100%;
        height: 500px;
    }
    .slide4{
        position: absolute;
        top: 0;
        left: 0;
    }
    .light{
        z-index: 6;
    }
    .stone{
        z-index: 5;
    }
    .sand{
        z-index: 4;
    }
    .shell{
        z-index: 3;
    }
    .swiper-slide{
        width: 100%;
        height: 500px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    button{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: inline-block;
        width: 30px;
        height: 30px;
        background-color: $color-white;
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center center;
        border-radius: 30px;
        &:disabled{
            opacity: 0.4;
        }
        //zoom: 1.34;
    }
    .btn-prev{
        left: 20px;
        background-image: url(../images/prev.svg);
    }
    .btn-next{
        right: 20px;
        background-image: url(../images/next.svg);
    }
}
.group-flex16{
    & > div{
        & + div{
            zoom: 1.34;
        }
    }
    .sub-title{
        font-size: 32px;
        line-height: 38px;
        text-transform: capitalize;
    }
    .project-area{
        position: relative;
        width: 100%;
        height: 640px;
        margin-top: 30px;
        background-image: url(../images/project-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    .info-wrap{
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .info1{
        width: 202px;
        height: 256px;
        top: 254px;
        left: 66px;
    }
    .info2{
        width: 139px;
        height: 91px;
        top: 395px;
        left: 270px;
    }
    .info3{
        width: 205px;
        height: 169px;
        top: 338px;
        left: 425px;
    }
    .info-hover{
        @include position-Center;
        width: 100%;
        height: 100%;
        &::after{
            content: '';
            position: absolute;
            top:0;
            left: 0;
            display: inline-block;
            width: 100%;
            height: 100%;
            opacity: 0;
        }
        &.active{
            &::after{
                opacity: 1;
            }
        }
    }    
    .info1{
        .info-hover{
            &::after{
                background-image: url(../images/project-dim1.svg);
            }
        }
    }
    .info2{
        .info-hover{
            &::after{
                background-image: url(../images/project-dim2.svg);
            }
        }
    }
    .info3{
        .info-hover{
            &::after{
                background-image: url(../images/project-dim3.svg);
            }
        }
    }
    .ic-plus{
        @include position-Center;
        z-index: 3;
        display: inline-block;
        width: 36px;
        height: 36px;
        background-color: $color-brown;
        border-radius: 30px;
        cursor: pointer;
    }
    .info-box{
        position: absolute;
        top: 50%;
        left: calc(50% + 30px);
        transform: translateY(-50%);
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 200px;
        padding: 15px;
        background-color: $color-white;
        border-radius: 4px;
        box-shadow: 0px 0px 30px 0px rgb(0 0 0 / 30%);
        opacity: 0;
        transition: opacity 0.3s;
    }
}