$font-en:'MazzardH',arial, sans-serif;

$color-txt:#5f5348;
$color-dark:#000;
$color-gray1:#9d958c;
$color-gray2:#c6c0ba;
$color-gray3:#c5c5c5;
$color-gray4:#9a9a9a;
$color-gray5:#eee;
$color-white:#fff;
$color-beige1:#ecebe4;
$color-beige2:#eaeef3;
$color-beige3:#dad7d0;
$color-brown:#605348;
$color-blue:#434e60;